.ipynb_checkpoints
.DS_Store

# Ignore all __pycache__ directories recursively
**/__pycache__/

# Optional: also ignore Python bytecode files
*.py[cod]
.DS_Store

# Ignore .env files everywhere
**/.env

# Ignore .txt files everywhere
**/*.txt

**/Keys

.venv/
venv/
Keys/gemini_API_Key.txt
Keys/linkedIn.txt
Keys/gemini_API_Key.txt

# Ignore Pickle files
*.pkl
*.pickle
**/*.pickle
**/*.pkl


# Ignore uv lock file
uv.lock
**/uv.lock

**/credentials.json

.vscode
.vscode/
**/.vscode/

*.pem
**/*.pem

**/.ipynb_checkpoints/
.ipynb_checkpoints/

**/*.png
**/*.jpg
**/*.zip
**/*.txt
**/*.json
**/*.gz
**/*.csv
**/*.wav
**/*.xml
**/test.*
**/train.*
**/dev.*
**/monolingual.*
**/*.pt
**/ckpt-*
**/*.sqlite3
**/*.index
**/*.bin
Environment.yml
**/.DS_Store
.DS_Store
.DS_Store
**/*.pdf
